/* ? Signup form Css Code  */
.form-wrapper {
  width: 450px;
  height: 100vh;
  display: grid;
  align-items: center;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}
.form {
  padding: 20px 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.form header {
  margin: 20px 0;
  font-size: 25px;
  font-weight: 600;
  border-bottom: 1px solid #e6e6e6;
}

.form form .error-txt {
  color: #721c24;
  background: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  display: none;
}

.form form .name-details {
  display: flex;
}
.form form .name-details .field:first-child {
  margin-right: 10px;
}
.form form .name-details .field:last-child {
  margin-left: 10px;
}

.form form .field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}

.form form .field label {
  margin-bottom: 2px;
}

.form form .field input {
  outline: none;
}

.form form .input input {
  height: 37px;
  width: 100%;
  font-size: 15px;
  padding: 0px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form form .image input {
  font-size: 17px;
}
.form form .button input {
  margin-top: 13px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 500;
  background: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.form form .field i {
  position: absolute;
  z-index: 10;
  right: 5%;
  color: #ccc;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}

.form .link {
  text-align: center;
  margin: 10px 0;
  font-size: 17px;
}

.form .link a {
  color: #333;
}
.form .link a:hover {
  text-decoration: underline;
}
